html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: dashed;
}


.greeting{
  color: yellow;
}

.unlock{
  width: 100px;
  height: 100px;
  background-color: red;
  font-family: comic Sans MS;
  text-align: center;
}
.text{
  font-family: comic Sans MS;
  color: gold;
}